---
import Navbar from "../components/Navbar.astro";
import Menu from "../components/menu/Menu";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import ResumeButton from "../components/ResumeButton.astro";
import SocialMediaBar from "../components/SocialMediaBar.astro";
import SocialMediaFooter from "../components/SocialMediaFooter.astro";
---

<style is:global>
  :root {
    --main-color: #0d0d0d;
    --secondary-color: #f2ca52;
    --subtitle-color: #a68d60;
    --fc-paragraph: #f2f2f2;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }

  strong {
    color: var(--secondary-color);
  }

  li {
    list-style: none;
  }

  section {
    padding: 60px 0;
  }

  /* For tablets */
  @media only screen and (min-width: 768px) {
    section {
      padding: 80px 0;
    }
  }

  /* For desktop and large devices */
  @media only screen and (min-width: 992px) {
    section {
      padding: 100px 0;
    }
  }

  h2 {
    font-size: clamp(1.625rem, 5vw, 2rem);
    color: var(--subtitle-color);
  }

  p {
    font-size: clamp(0.875rem, 5vw, 1.25rem);
    line-height: 1.5;
    color: var(--fc-paragraph);
  }

  a {
    text-decoration: none;
    transition: color 0.4s ease;
    color: var(--subtitle-color);
  }

  a:hover {
    color: var(--secondary-color);
  }

  @media (prefers-reduced-motion: no-preference) {
    .hidden {
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-5%);
      transition: all 0.5s;
    }
  }

  .hero-field,
  .social-media-bar {
    transition-delay: calc(100ms * var(--order));
  }

  .show {
    filter: blur(0);
    transform: translateX(0);
    opacity: 1;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet" />

    <style>
      html {
        scroll-behavior: smooth;
      }

      html {
        height: 100%;
        width: 100%;
      }

      body {
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--main-color);
      }

      .container {
        min-height: 100%;
      }

      header {
        position: fixed;
        top: 0;
        width: 100%;
        max-width: 1600px;
        z-index: 100;
        background: rgba(13, 13, 13, 0.85);
        backdrop-filter: blur(5px);
        transform-origin: 0% 0%;
        transform: translate(0, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        display: flex;
        justify-content: center;
      }

      .header-hidden {
        transform: translate(0, -100%);
      }

      .header__container {
        width: 90%;
        height: 100%;
        background: inerit;
      }

      .header__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
      }

      main {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 1200px;
        width: 90%;
        transition: all 0.25s;
      }

      /* For tablets */
      @media only screen and (min-width: 768px) {
        main {
          padding: 0 40px;
        }
      }

      /* For desktop and large devices */
      @media only screen and (min-width: 992px) {
        main {
          padding: 0 50px;
        }
      }

      .blur main,
      .blur footer {
        filter: blur(5px) brightness(0.7);
      }

      footer {
        display: flex;
        justify-content: center;
      }

      footer .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
      }

      footer .inner p {
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="header__container">
        <nav class="header__navbar">
          <div>Logo</div>
          <Navbar />
          <Menu client:visible>
            <ResumeButton />
          </Menu>
        </nav>
      </div>
    </header>
    <SocialMediaBar />
    <main>
      <Hero />
      <About />
      <Projects />
    </main>
    <footer>
      <div class="inner hidden">
        <SocialMediaFooter />
        <p>Developed and designed by Brayan Sánchez</p>
        <p>© Copyrigth 2023</p>
      </div>
    </footer>
  </body>
</html>

<script src="../scripts/index.js"></script>
