<style>
  #about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .my-skills-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .my-skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .my-skills-list div {
    background: var(--secondary-color);
    border-radius: 5px;
    padding: 1rem 2rem;
  }

  @media only screen and (max-width: 768px) {
    #about {
      display: flex;
      flex-direction: column;
      column-gap: 50px;
      row-gap: 50px;
    }
  }
</style>

<section id="about">
  <div class="container hidden">
    <h2>About me</h2>
    <div class="about-me">
      <p>
        Hi, I'm <strong>Brayan</strong>, a systems engineering student and <strong>
          self-taught
        </strong> programmer from Colombia. I have over 2 years of experience at programming and for
        the last 7 months I've been doing some projects to build my portfolio. I'm also learning about
        <strong>GCP</strong>, <strong>Java</strong> and later will start with <strong>AWS</strong>.
        I'm currently looking for a job as a junior developer.
      </p>
      <p>
        When I want to relax I like to play video games, watch movies, read articles about news and
        tecnhology to keep me updated.
      </p>
    </div>
  </div>
  <div class="container hidden">
    <h2>My skills</h2>
    <div class="my-skills-list">
      <div>HTML</div>
      <div>CSS</div>
      <div>JavaScript</div>
      <div>React</div>
      <div>Material UI</div>
      <div>Jest</div>
      <div>Node</div>
      <div>PostgreSQL</div>
      <div>REST</div>
      <div>Linux</div>
      <div>Docker</div>
      <div>Astro</div>
      <div>Git</div>
      <div>GitHub</div>
    </div>
  </div>
</section>
