<style>
  #about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .my-skills-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .my-skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .my-skills-list div {
    background: var(--secondary-color);
    border-radius: 5px;
    padding: 1rem 2rem;
  }

  @media only screen and (max-width: 768px) {
    #about {
      display: flex;
      flex-direction: column;
      column-gap: 50px;
      row-gap: 50px;
    }
  }
</style>

<section id="about">
  <div class="container hidden">
    <h2>About me</h2>
    <div class="about-me">
      <p>
        Hi, I'm <strong>Brayan</strong>, a systems engineering student and <strong>
          self-taught
        </strong> programmer from Colombia. For seven months I've been building some projects to create
        my portfolio, nevertheless, new projects are in development to improve my skills. On the other
        hand, I'm deepening my knowledge in <strong>GCP</strong>.
      </p>
      <p>
        When I want to relax I like to play video games, watch movies and read articles about news
        and technology to keep me updated. Furthermore, I'm passionate about <strong>
          blockchain technology
        </strong>
      </p>
      <p>
        I'm currently looking for a job as a <strong>junior software developer</strong>.
      </p>
    </div>
  </div>
  <div class="container hidden">
    <h2>My skills</h2>
    <div class="my-skills-list">
      <div>HTML</div>
      <div>CSS</div>
      <div>JavaScript</div>
      <div>React</div>
      <div>Material UI</div>
      <div>Jest</div>
      <div>Node</div>
      <div>PostgreSQL</div>
      <div>REST</div>
      <div>Linux</div>
      <div>Docker</div>
      <div>Astro</div>
      <div>Git</div>
      <div>GitHub</div>
      <div>GCP</div>
    </div>
  </div>
</section>
