<style>
  #about {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .my-skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .my-skills-list {
    display: flex;
  }

  @media only screen and (max-width: 768px) {
    .container {
      display: flex;
      flex-direction: column;
      column-gap: 50px;
      row-gap: 50px;
    }
  }
</style>

<section id="about">
  <h2>About me</h2>
  <div class="container">
    <div class="about-me">
      <p>
        Hi, I'm <strong>John Doe</strong>, a freelance web designer from New York. I have over 10
        years of experience in the industry. I specialize in creating stylish, modern websites that
        are fast, secure, and easy to use. I also have a passion for branding and print design.
      </p>
      <p>
        When I'm not behind a computer, you can find me playing video games, watching movies, or
        spending time with my family.
      </p>
    </div>
    <div class="my-skills-container">
      <h3>My skills</h3>
      <ul class="my-skills-list">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>Node</li>
        <li>Python</li>
        <li>PHP</li>
      </ul>
    </div>
  </div>
</section>
