<style>
  .hero {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>

<section class="hero">
  <h1>Hi, my name is</h1>
  <h2>Brayan Sanchez.</h2>
  <h3>I build things for the web.</h3>
  <p>
    I'm a junior frontend developer focused on learning new technologies to create new things. Cloud
    Computing and Crypto fan.
  </p>
</section>
