<style>
  #projects {
    padding: 60px 0;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
</style>

<section id="projects">
  <h2>Projects</h2>
  <div class="container">
    <div>Ecommerce</div>
    <div>Another</div>
  </div>
</section>
