---
import Ecommerce from "../assets/ecommerce.png";
import Encriptador from "../assets/encriptador.png";
---

<style>
  /* For mobile phones */
  #projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1000px;
  }

  h2 {
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .project {
    width: 100%;
    height: 190px;
  }

  figure {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
  }

  img {
    width: 100%;
    height: 100%;
    transition: all 0.45s ease-in-out;
  }

  figurecaption {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: var(--secondary-color);
    transition: all 0.45s ease-out;
    z-index: 1;
  }

  figurecaption div {
    padding: 0 auto;
  }

  figurecaption h1 {
    text-align: center;
  }

  figurecaption:hover {
    opacity: 1;
  }

  .caption {
    text-align: center;
    color: var(--main-color);
    font-weight: 600;
  }

  .btn-visit-website {
    display: block;
    border: solid 1px var(--main-color);
    background: transparent;
    color: var(--main-color);
    padding: 0.75rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
  }

  .btn-visit-website:hover {
    background: rgba(13, 13, 13, 0.8);
  }

  /* For tablets */
  @media only screen and (min-width: 768px) {
    .project {
      height: 350px;
    }
  }

  /* For desktop and large devices */
  @media only screen and (min-width: 992px) {
    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0;
    }

    .project {
      width: 50%;
      max-height: 300px;
      padding: 0.75rem;
    }
  }
</style>

<section id="projects" class="hidden">
  <h2>Projects</h2>
  <div class="container">
    <div class="project">
      <figure>
        <img src={Ecommerce} alt="ecommerce" />
        <figurecaption>
          <p class="caption">Ecommerce built with the PERN stack and developed with Docker.</p>
          <a class="btn-visit-website" href="https://lottus-shop.cf" target="_blank">
            Visit Website
          </a>
        </figurecaption>
      </figure>
    </div>
    <div class="project">
      <figure>
        <img src={Encriptador} alt="encriptador" />
        <figurecaption>
          <p class="caption">Encryptor built with HTML, CSS and JavaScript.</p>
          <a
            class="btn-visit-website"
            href="https://clouddcoder.github.io/encriptador-alura/"
            target="_blank"
          >
            Visit Website
          </a>
        </figurecaption>
      </figure>
    </div>
  </div>
</section>
